html {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #659dbd;
}

main > h1 {
  text-align: center;
  display: flex;
  color: #fbeec1;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#cat1 {
  border-radius: 10%;
  border-color: #fbeec1;
  border: 5px;
}

#lasagna {
  border-radius: 10%;
  border-color: #fbeec1;
  border: 5px;
}

#cat2 {
  border-radius: 10%;
  border-color: #fbeec1;
  border: 5px;
}

div {
  margin-bottom: 10px;
}
div span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
}

.list-wrap {
  padding: 40px;
  border-radius: 5px;
  width: 400px;
  text-align: center;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

div.list {
  counter-reset: list-number;
}
div.list div:before {
  counter-increment: list-number;
  content: counter(list-number);

  margin-right: 10px;
  margin-bottom: 10px;
  width: 35px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: #d7385e;
  border-radius: 50%;
  color: #fff;
}
